{% extends 'base.html' %}

{% block title %}
TaskMaster - Gerenciamento de Projetos
{% endblock %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notificações</title>
    <!-- Importando o CSS externo -->
    <link rel="stylesheet" href="{{ url_for('static', filename='notificacao.css') }}">
</head>
<body>
    <div class="notification-container">
        <h2>Notificações</h2>
        
        {% for notificacao in notificacoes %}
            <div class="update">
                <p>{{ notificacao.content }}</p>
                <p class="date">Data: {{ notificacao.created_at.strftime('%d/%m/%Y %H:%M') }}</p>
            </div>
        {% else %}
            <p>Nenhuma notificação disponível.</p>
        {% endfor %}
    </div>
</body>
{% endblock %}
