{% extends 'base.html' %}

{% block title %}
TaskMaster - Gerenciamento de Tarefas
{% endblock %}

{% block content %}
    <h2>Projeto: {{ project_name }}</h2>

    <div class="kanban-board">
        <!-- Coluna Pré-requisitos -->
        <div class="kanban-column">
            <h3>Pré-requisitos</h3>
            <ul id="prerequisites" class="kanban-list" ondrop="drop(event, 'Pré-requisitos')" ondragover="allowDrop(event)">
                <!-- Renderizar tarefas pré-requisitos -->
                {% for tarefa in prereq_tasks %}
                    <li id="{{ tarefa.id_task }}" draggable="true" ondragstart="drag(event)">
                        {{ tarefa.description }}
                    </li>
                {% endfor %}
            </ul>
            <form method="POST" action="{{ url_for('auth.gerenciar_projeto', project_id=project.id) }}">
                <input type="text" name="task_name" placeholder="Nova tarefa" required>
                <input type="hidden" name="task_status" value="Pré-requisitos">
                <button type="submit">Adicionar</button>
            </form>            
        </div>

        <!-- Coluna Em Produção -->
        <div class="kanban-column">
            <h3>Em Produção</h3>
            <ul id="inProduction" class="kanban-list" ondrop="drop(event, 'Em Produção')" ondragover="allowDrop(event)">
                <!-- Renderizar tarefas em produção -->
                {% for tarefa in in_prod_tasks %}
                    <li id="{{ tarefa.id_task }}" draggable="true" ondragstart="drag(event)">
                        {{ tarefa.description }}
                    </li>
                {% endfor %}
            </ul>
            <form method="POST" action="{{ url_for('auth.gerenciar_projeto', project_id=project.id) }}">
                <input type="text" name="task_name" placeholder="Nova tarefa" required>
                <input type="hidden" name="task_status" value="Em Produção">
                <button type="submit">Adicionar</button>
            </form>
        </div>

        <!-- Coluna Concluído -->
        <div class="kanban-column">
            <h3>Concluído</h3>
            <ul id="completed" class="kanban-list" ondrop="drop(event, 'Concluído')" ondragover="allowDrop(event)">
                <!-- Renderizar tarefas concluídas -->
                {% for tarefa in completed_tasks %}
                    <li id="{{ tarefa.id_task }}" draggable="true" ondragstart="drag(event)">
                        {{ tarefa.description }}
                    </li>
                {% endfor %}
            </ul>
            <form method="POST" action="{{ url_for('auth.gerenciar_projeto', project_id=project.id) }}">
                <input type="text" name="task_name" placeholder="Nova tarefa" required>
                <input type="hidden" name="task_status" value="Concluído">
                <button type="submit">Adicionar</button>
            </form>
        </div>
    </div>

    <button id="SalvarProj">Salvar</button>


{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='project_details.css') }}">
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='project_details.js') }}"></script>
{% endblock %}
