<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
</head>
<body>

    <!-- Uma div que guarda todo o conteúdo da página -->
    <div class='container'>
        <div class='form-container' id='signupContainer'>
            <form action="/signup" method="POST" id="signupForm">
                <!-- Título do formulário -->
                <h2>Cadastro</h2>
                
                <div class="mb-3">
                    <!-- Texto que aparece à esquerda da caixa de input -->
                    <label for="signupEmail" class="form-label">Email:</label>

                    <input type="email" id="signupEmail" class="form-control"
                    name="emailsignup" placeholder="Entre com o email" required>
                </div>

                <div class="input-group">
                    <!-- Texto que aparece antes da caixa de input senha -->
                    <label for="signupPassword">Senha:</label>
                    <input type="password" id="signupPassword" class="form-control"
                    name="passwordsignup" placeholder="Entre com a senha" required>
                </div>
                
                <!-- Botão para submeter o formulário -->
                <button type="submit" class="btn btn-primary">Cadastrar</button>

                <a href="{{ url_for('auth.login') }}" class="btn btn-secondary" role="button">Ir para Login</a>


                <!-- Exibe mensagens flash -->
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="flash-messages">
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            {% endwith %}

            </form>
        </div>
    </div>
    

</body>
</html>
