{% extends 'base.html' %}

{% block title %}
TaskMaster - Cadastro
{% endblock %}

{% block content %}
    <div class="container">
        <div class="form-container" id="signupContainer">
            <form id="signupForm">
                <h2>Cadastro</h2>
                <div class="input-group">
                    <label for="signupEmail">Email:</label>
                    <input type="email" id="signupEmail" required>
                </div>
                <div class="input-group">
                    <label for="signupPassword">Senha:</label>
                    <input type="password" id="signupPassword" required minlength="5">
                </div>
                <button type="submit" class="btn btn-primary">Cadastrar</button>
                <button type="button" id="toLoginButton" class="btn btn-secondary">Ir para Login</button>
            </form>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{url_for('static', filename='signup.js')}}"></script>
{% endblock %}
