body {
    font-family: Arial, sans-serif;
    background-color: #e0e0e0; /* Fundo mais escuro */
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
}

header h1 {
    margin: 0;
    text-align: center;
}

header ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

header ul li {
    display: inline;
    margin: 0 10px;
}

header ul li a {
    color: white;
    text-decoration: none;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 10px;
    background-color: #ffffff; /* Fundo branco para o conteúdo */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.main h2 {
    margin-bottom: 20px;
    color: #333333; /* Cor escura para os títulos */
}

#projectForm {
    margin-bottom: 20px;
}

#projectForm input[type="text"] {
    width: calc(100% - 120px);
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#projectForm input[type="submit"] {
    padding: 10px 20px;
    background-color: #28a745;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#projectForm input[type="submit"]:hover {
    background-color: #218838;
}

#projectsTable {
    width: 100%;
    border-collapse: collapse;
}

#projectsTable th,
#projectsTable td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.actions button {
    margin-right: 10px;
    padding: 5px 10px;
    border: none;
    color: white;
    background-color: #007bff;
    border-radius: 5px;
    cursor: pointer;
}

.actions button:hover {
    background-color: #0056b3;
}

.actions button:last-child {
    background-color: #dc3545;
}

.actions button:last-child:hover {
    background-color: #c82333;
}

header h1 {
    margin: 0;
    text-align: center;
    color: #000000; /* Preto */
}

header ul li a {
    color: #000000; /* Preto */
    text-decoration: none;
}
.kanban-board {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.kanban-column {
    width: 30%;
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.kanban-list {
    list-style-type: none;
    padding: 0;
}

.kanban-list li {
    background-color: white;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}
